.not-found {
  .container {
    position: relative;
    top: 0;
    left: 0;
    min-height: 700px;
    text-align: center;
  }

  .centered_404 {
    position: absolute;
    top: 50%;
	width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
	 a {
			display: inline-block;
			padding: 7px 12px;
			font-weight: 600;
			line-height: 1.4;
			text-align: center;
			text-decoration: none;
			border: 1px solid $color5;
			border-radius: 3px;
			cursor: pointer;
			color: $color5;
		}
  }

  &:before {
    content : " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: url(../../images/404.png) no-repeat center center fixed; */
  }
}
