#carousel {
	z-index: 99;
	position: relative;
	top:0;
	left: 0;
	width: 100%;

	.item {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: $carousel_height;

		&:before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $carousel_background;
			
			@include responsive(small){
				background: $carousel_background;
			}
		}

		.centered {
			@include centered($carousel_content_top, $carousel_content_width, $carousel_text_align);
		}

		h1 {
			position : relative;
			top: 0;
			color: $carousel_h1_color;
			font-size: 4.7vw;
			text-align: left;
			text-shadow: 1px 1px 5px #999;
			    font-weight: 100;
			

			@include responsive(medium){
				font-size: 4vw;
			}

			@include responsive(small){
				font-size: 7vw;
			}
		}

		h2 {
			color: $white;
			font-size: 4.7vw;
			font-weight: 100;
		}
		
			.centered {
				line-height: 4vw;
			}

		p {
			margin: 0;
			font-size: 4.7vw;
			text-align: center;
			color: $white;
			font-weight: 300;

			@include responsive(small){
				font-size: 3.25vw;
			}
		}

		a {
			@include button($carousel_button_font_size, $carousel_button_color, $carousel_button_text_color, $carousel_button_padding, $carousel_button_radius);
		}
	}
}






#carousel{
		
		.item{
			.centered{
				top: 65% !important;
				img.bnnr {
					width: 100px !important;
					margin: 20px;
				}
				 img {
					width: 100px !important;
					margin: 20px;
					margin-left: 0;
				}
			}
		}
		.owl-dots {
			position: absolute;
			text-align: center;
			display: inline-block;
			width: 100%;
			top: 450px;
		}
		.owl-dot {
			background-color: transparent;
			border: 1px solid #004B84;
			border-radius: 20px;
			display: inline-block;
			height: 13px;
			width: 13px;
			margin: 3px;
		}
		.owl-dot.active {
			background-color: #004B84;
			box-shadow: inset 2px 0px 2px -2px #333;
		}
}
.clinic{
		.owl-controls {
				[class^="ti-"], [class*=" ti-"] {
					font-size: 5vw !important;
				}
			}

}


