
.bgImage{height: 40vh;}

.clinique-trasnprate {

	.wpb_column.vc_column_container.vc_col-sm-12 {
		background-color: rgba(12,65,108, 0.8);
		z-index: 2;
	}
	.main-clinique {
		text-align: center;
		color: $white;
		width: 100%;
		margin: 0 auto;
		padding: 50px;
	}
	h1 {
		font-size: 100px;
		font-weight: 100;
		line-height: 85px;
		text-transform: uppercase;
	}
	p {
		color: $white !important;
		font-weight: 100;
	}
	 img {
		margin: 15px;
	}
}


.propos.clinique {
			padding: 50px;
			width: 100%;
			margin: 0 auto;
	
		h1 {
			font-size: 100px;
			line-height: 85px;
			color: $white;
			font-weight: 100;
		}
}

.clinic{
	
	[class^="ti-"] {
		color: $color7;
		font-size: 100px;
		border: none;
	}
	.owl-controls{
	
	.owl-nav{
	
	.owl-prev{
		background: none;
	}
	.owl-next{
		background: none;
	}
	}
	}
	.ti-angle-left{
	
	&:before {
		color: $color7;
	}
	}
	.ti-angle-right{
	&:before {
		content: "\e649";
		color: $color7;
		font-weight: 900;
	}
	}
	.owl-prev {
		padding: 0 !important;
	}
	.owl-next {
		padding: 0 !important;
	}	
}






.main-overlay {
	  position: relative;
	  width: 100%;
	  height: 22vw;
    overflow: hidden;
	 
	 .img-overlay {
	  display: block;
	  width: 100%;
	  height: auto;
	}
	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: .5s ease;
	  background-color: rgba(32,164,220, 0.8);
	  cursor: pointer;
	}
	.text-overlay {
	  color: $white;
	  font-size: 20px;
	  position: absolute;
	  text-align: center;
	  width: 100% !important;
	  margin: 0 auto !important;
	  max-width: 450px;
	  top: 57%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
	}
	p {
		color: $white;
		font-weight: 100;
		font-size: 0.9vw;
	}
	h1 {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.5vw;
		width: 100%;
	}
	&:hover{
		.overlay {
			opacity: 1;
		}
	}
}







   





	
	
