.contact-info {
	
	.vc_column-inner.vc_custom_1499429644386 {
		padding: 115px 100px 130px 100px !important;
	}
	.info-heading {
		color: $color5;
		font-size: 1.5vw;
		text-transform: uppercase;
		margin-top: 1vw;
	}	
	.info {
		box-shadow: -4px -20px 20px 0px #aaa;
	}
		p {
		font-size: 1.1vw;
		font-weight: 100;
	}
	a {
		color: $color6;
		font-weight: 500;
		&:nth-last-child(1){
			&:hover {
				font-weight: 900;
			}
		}
		
	}
	.payment {
		margin-top: 20px;
	}
	p {
		margin: 0;
		margin-left: 0;
	}
	img {
		margin: 5px;
		width: 50px;
		margin-left: 0;
	}	
	.second-number {
		font-weight: 100;
	}
	.contact-map{
	
		.vc_column-inner {
			padding: 0 !important;
		}
		#content-map{
			 a {
				color: $color7 !important;
			}
		}
	}
	.icon{
	
	 .wpb_text_column.wpb_content_element {
		margin-bottom: 10px !important;
	}
	
	}
	.contact-time {
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}
	li {
    color: $color6;
		font-weight: 100;
		font-size: 1vw;
		margin: 0.3vw 0;
		line-height: 1.3vw;
	}
	strong {
		font-weight: 900 !important;
		width: 5vw;
		display: inline-block;
	}
	.info {
		height: 835px;
	}
	#map {
		height: 835px !important;
	}
}
 


.page-id-25 {

	footer {
		display: none;
	}
	.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
		margin-bottom: 0px !important;
	}
	.copyright {
		background: $color5;
		margin: 0;
		padding: 20px;
		
	a {
		padding: 0px;
		color: $white;
		font-weight: 100;
	}
	 strong {
		color: $white;
		font-weight: 500 !important;
	}
	p {
		color: $white;
		font-weight: 100;
	}
	}	
	
}

