
.debug {
	&.blue {
		background: blue;
	}
	
	&.red {
		background: red;
	}

	&.orange {
		background: orange;
	}

	&.pink {
		background: pink;
	}

	&.purple {
		background: purple;
	}

	&.green {
		background: green;
	}

	&.black {
		background: black;
	}
}

.debug_responsive {
  z-index: 999999999999999999999999999999999999999;
  position: fixed;
  bottom:0;
  left: 0;
  padding: 10px 30px;
  background: rgba(0, 0, 0,0.5);

  span {
    color: #fff;
  }
}