
.liste-dentiste {
	img {
		max-height: 50vh;
	}
}

.liste-employe {
	margin-top: 25px;
	border-top: 1px solid rgba($color1, 0.2);

	.employe {
		padding-top: 50px;
		.employe-image {
			transition: all 0.2s ease-in;
			position: relative;
			max-height: 40vh;

			img {
				display: block;
				margin: 0 auto;
				max-height: 40vh;
			}
		}
		.texte {
			background-color: rgba(255,255,255,0.8);
			text-align: center;
			width: 100%;
			position: relative;
			h3 {
				font-family: $font1;
			}
			p {
				margin: 0;
				padding-bottom: 5px;
			}
		}
		.overlay {
			display: none;
			background-color: rgba(0, 33, 89, 0.8);
			width: 100%;
			height: 100%;
			z-index: 10;
			position: absolute;
			top: 0;
			transition: all 0.2s ease-in;
			p {
				color: $white;
				padding: 20px;
			}
			.content-center {
				@include center();
				padding: 5%;
				height: auto;
				width: 100%;
			}
		}
		&:hover {
			cursor: pointer;
			.overlay {
				display: block;
				transition: all 0.2s ease-in;
			}
		}
	}
}



.banner-equipe{
	.wpb_column.vc_column_container.vc_col-sm-12 {
		background-color: rgba(12,65,108, 0.8);
		z-index: 2;
	}
	.professional.clinique {
			text-align: center;
			color: $white;
			width: 100%;
			margin: 0 auto;
			padding: 50px;
		
		 h2 {
			font-size: 5vw;
			font-weight: 100;
			line-height: 4.5vw;
			text-transform: uppercase;
	}
		p {
			color: $white !important;
			font-weight: 100;
	}
		img {
			margin: 15px;
	}
	}


}


.professional{

		.vc_column-inner{
			padding: 0 !important;
			margin: 0 ;
			padding-top: 0 !important;
		}
		
		.professional-content {
			background-color: $color5;
			margin-left: 0 !important;
			margin-right: 0 !important;
			color: $white;
			padding: 50px;
			
			 h2 {
				text-transform: uppercase;
				font-weight: 100;
				font-size: 25px;
			}
			
			 h3 {
				text-transform: uppercase;
				text-align: center;
				font-weight: 500;
				font-size: 18px;
				margin: 15px;
			}
			p {
				color: $white;
				font-size: 20px;
				text-align: center;
				font-weight: 100;
			}
			
		}
		.blue-bck {
			background-color: $color5;
		}
		
		
		.professional-gray-content{
		
		h3 {
			text-transform: uppercase;
			text-align: center;
			font-weight: 500;
			font-size: 18px;
			margin: 15px;
			color: $color6;
		}
	}
		.grey-bck-ground {
			background-color: $footer_background;
		}
		.professional-gray-content {
			padding: 50px;
			margin-left: 0 !important;
			margin-right: 0 !important;
			min-height: 450px;
			background-color: $footer_background;
			
			 h2 {
				text-transform: uppercase;
				color: $color5;
				font-weight: 100;
				font-size: 25px;
			}
			p {
				font-size: 20px;
				text-align: center;
				font-weight: 100;
			}
		}
}





.team-member{
		.vc_column-inner {
			padding: 0 !important;
		}
		.inner-team{
			
			.vc_column-inner {
				padding: 0 !important;
			}
			h3 {
				text-transform: uppercase;
				color: $color5;
				font-weight: 100;
				padding: 0.9vw;
				font-size: 1.1vw;
			}
			.wpb_single_image.wpb_content_element.vc_align_center {
				margin-bottom: 0;
				height: 13vw;
				overflow: hidden;

			}
			
		}
		.vc_column-inner {
			padding: 0 !important;
		}
		.inner-team-blue{
		
		h3{
			text-transform: uppercase;
			background-color: $color5;
			color: $white;
			font-weight: 100;
			padding: 0.9vw;
			font-size: 1.1vw;
		}
		.wpb_single_image.wpb_content_element.vc_align_center {
			margin-bottom: 0;
			height: 13vw;
			overflow: hidden;
		}
	}
		.vc_col-sm-2 {
				width: 20%;
				height: 9vw;
			}
}
	
 

.autres {
		padding: 100px;
		text-align: center;
		padding-bottom: 50px;
	
	h2 {
		font-size: 5vw;
		line-height: 5vw;
		color: $color5;
		font-weight: 100;
		text-transform: uppercase;
	}
	img {
		margin: 15px;
	}
	
	
	
	
}
	

.blue-bck
{
	.vc_single_image-wrapper.vc_box_border_grey
	{
			position: relative;
			overflow: hidden;
			/* width: 70%; */
			/* height: 150px; */
			margin: 0 auto;
			background-color: #fff;

			&:after, &:before {
			content: '';
			position: absolute;
			bottom: -1px;
			width: 50%;
			background-color: inherit;
			padding-bottom: 7%;
			background: $color5;
		}
		&:before {
			right: 50%;
			-ms-transform-origin: 100% 100%;
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
		&:after {
			left: 50%;
			-ms-transform-origin: 0 100%;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-ms-transform: skewX(-45deg);
			-webkit-transform: skewX(-45deg);
			transform: skewX(-45deg);
			background-color: $color5;
		}
	}
}




.grey-bck-ground{

		.vc_single_image-wrapper.vc_box_border_grey{
		
			 position: relative;
			overflow: hidden;
			/* width: 70%; */
			/* height: 150px; */
			margin: 0 auto;
			background-color: #fff;
		
			&:after, &:before{
			 content: '';
			position: absolute;
			bottom:-1px;
			width: 50%;
			background-color: inherit;
			padding-bottom: 7%;
			background: $footer_background;
		}
		&:before {
			right: 50%;
			-ms-transform-origin: 100% 100%;
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
			-ms-transform: skewX(45deg);
			-webkit-transform: skewX(45deg);
			transform: skewX(45deg);
		}
		&:after {
			left: 50%;
			-ms-transform-origin: 0 100%;
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
			-ms-transform: skewX(-45deg);
			-webkit-transform: skewX(-45deg);
			transform: skewX(-45deg);
		}
	}
}






@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {     
	
	
	#professional-image.wpb_single_image{
		
				img{
					border-bottom: 1px solid $color5;
				}
			}
	
	#professional-image-gray{
			img, a{
					border-bottom: 1px solid $footer_background;
				}	
			}
	}


