footer {
  display: inline-block;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  background: $footer_background;
  color: $white;

  @include responsive(small){
    padding-top: 25px;
    padding-bottom: 25px;
    .copyright {
      text-align: center;
      color: #A0A3A5;
    }
  }
  
	.main-footer {
		width: 100%;
		display: inline-block;
		color: #000;
		padding: 50px;
		
		strong {
			color: $color5;
			font-weight: 700 !important;
		}
	}
	.inner-footer {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;
		
		.footer-right {
			width: 65%;
			float: left;
			
				.footer-heading {
					color: $color5;
					font-size: 1.1vw;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
			
			.footer-section-right {
				width: 21.33%;
				float: left;
				margin-right: 3%;
				max-width: 250px;
				
				p {
					font-size: 1vw;
					margin-top: 10px;
					font-weight: 100;
					margin-bottom: 5px;
					line-height: 1.5vw;
				}
				a {
					color: $color5;
					font-size: 1vw;
					font-weight: 500;
					display: inline-block;
					
					&.ftr-mail {
						padding-top: 10px;
					}
					&.sky-black {
						color: $color6 !important;
						font-weight: 100 !important;
					}
					&:nth-last-child(1)  {
						&:hover{
							font-weight: 900;
						}
						
					}
				}
				
			}
			.footer-section-right-one {
					float: left;
					margin-left: 5px;
					width: 50%;
					
					ul {
						margin-top: 5px;
					}
					.contact-time {
						width: 50%;
						float: left;
						margin-bottom: 30px;
						 li {
							line-height: 1.4vw;
							font-size: 0.9vw;
							font-weight: 100;
							strong{
							color: $color6;
							}
						}
						strong {
							width: 6vw;
							display: inline-block;
						}	
					}
				}
		}
		
		.footer-left {
			width: 35%;
			float: left;
			display: inline-block;
			margin-top: 15px;
			
		.logo-content {
			width: 51%;
			float: left;
			
			p {
				text-transform: uppercase;
				font-size: 1vw;
				line-height: 1.5vw;
				text-align: left;
				font-weight: 500;
				color: $color5;
			}
		}
			img {
				width: 4.5vw;
				float: left;
				margin: 1vw;
			}

	}
		.footer-section-left {
		float: left;
		}
	}
		.social-icon{
			img {
				width: 40px;
		}
  
	} 
  
}



#back_top{
		.ti-angle-up {
			border: none;
		}	
}



.copyright{

		  position: relative;
		  top:0;
		  left: 0;
		  margin-top: 20px;
		  text-align: center;
		  font-weight: 600;
		  background: inherit;
			  color: $color5;

		  a{
		   color: $color4;
		   transition: all 0.2s ease-in;
		   font-size:0.9vw;
		   margin: 0;
		   padding: 15px 0;
		   font-weight: 700;

			 &:hover{ color: $color4;}
		 }
		  strong {
			color: $color5;
			font-size: 0.9vw;
			font-weight: 700 !important;
		}
		 p {
			color: $color5;
			font-size: 0.9vw;
			font-weight: 500;
		}
}


.footer-nous{
		p{
			    margin-top: 0 !important;
			a{
			
				color: $color6 !important;
				font-weight: 100 !important;
				
				&:nth-child(2) {
					color: $color6 !important;
					font-weight: 100 !important;
					margin-bottom: 10px;
				}
			}
		}
	}


	
	
