/* ==== INPUT ==== */
.btn-primary {
  @include button-variant($white, $color1, $font1);
  border: none;
  @include button-size(10px, 30px, 16px, 16px, 0px);
  .desktop &:hover, &:active  {
    @include button-variant($white, $grey, $font1);
    border: none;
  }
}


.btn-primary {
    background-color: $color7 !important;
}

input[type=text], input[type=tel], input[type=email]  {
  width: 100%;
  max-width: 600px;
}

input[type="submit"] {
  padding: 20px 50px;
  margin-top: 0;
  font-size: 25px;
  text-transform: uppercase;

  &:hover, &:active {
    background: darken($color1, 10) !important;
  }
}
input[type="submit"]:hover, input[type="submit"]:active {
    background: $color5 !important;
}
//
// Forms
// --------------------------------------------------
input:not([type="submit"]),
input,
optgroup,
select  {
  padding: 15px 30px;
  transition: all 0.30s ease-in-out;
  color:  $color6;
  background: $white;
  border: 1px solid $grey;
  font-weight: 400;
  box-shadow : 1px 0px 2px rgba(0,0,0,0.05);
  margin-top: 15px;
  font-size: 1vw;
  &:active,
  &:focus {
    background: $white;
    box-shadow: none;
    border: 1px solid $color7;
    &::-webkit-input-placeholder {
      color: $color7;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $color7;
      opacity: 1;
      border: 1px solid $color1;
    }
    &::-moz-placeholder {
      color: $color7;
      opacity: 1;
      border: 1px solid $color1;
    }
    &:-ms-input-placeholder {
      color: $color7;
      opacity: 1;
      border: 1px solid $color1;
    }
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  outline: none;
  -webkit-appearance:none;
}
optgroup,
select  {
  padding: 10px 30px;
  width: 100%;
  height: 40px;
  transition: all 0.30s ease-in-out;
  color:  $color3;
  background: $white;
  border: 1px solid $grey;
  box-shadow : 1px 0px 2px rgba(0,0,0,0.05);
  &:active,
  &:focus {
    background: $white;
    box-shadow: none;
    border: 1px solid $color1;
    &::-webkit-input-placeholder {
      color: $color1;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: $color1;
      opacity: 1;
      border: 1px solid $color1;
    }
    &::-moz-placeholder {
      color: $color1;
      opacity: 1;
      border: 1px solid $color1;
    }
    &:-ms-input-placeholder {
      color: $color1;
      opacity: 1;
      border: 1px solid $color1;
    }
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  outline: none;
  -webkit-appearance:none;
}
textarea {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid lighten($grey, 40);
  color:  $color3;
  font-weight: 400;
  width: 100%;
  margin: 10px 0;
  padding: 10px 30px;
  max-height: 400px; 
  max-width: 100%; 
  &:focus,
  &:active {
    border: 1px solid $color7;
  }
  background: #fff;
  border: 1px solid $grey;
  box-shadow : 1px 0px 2px rgba(0,0,0,0.05);
  max-width: 900px;
  max-height: 200px;
}

label {
  color: #6E7070;
  font-weight: 400;
  padding: 8px 0;
}

input[type="radio"],
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
}
label,
input[type="radio"] + span,
input[type="radio"] + span::before,
label,
input[type="checkbox"] + span,
input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  font-size: 1vw;
}
label *,
label * {
  cursor: pointer;
}
label:hover span::before,
label:hover span::before {
  box-shadow: none;
}
label:hover span,
label:hover span {
  color: $color2;
}
input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  margin: 0 10px 0 0;
  border: solid 1px $grey;
  line-height: 12px;
  text-align: center;
  border-radius: 100%;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
  color: $color7;
}
input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
  cursor: default;
  opacity: .4;
}
input[type="radio"] + span::before {
  line-height: 20px;
}
input[type="checkbox"] + span::before {
  border-radius: 0;
}
input[type="radio"]:checked + span::before {
  content: "\2022";
  font-size: 32px;
}
input[type="checkbox"]:checked + span::before {
  content: "\2714";
  font-weight: 200;
  font-size: 30px;
  color: $color7;
}

body span[role="alert"]{
    color: $red;
	font-size: 18px;
    font-weight: 100;
  }

  body div[role="alert"]{
    position: relative;
    bottom: 30px;
    left: -10px;
    border: 1px solid $red !important;
    background: $white;
    padding: 10px;
    color: black;
	font-weight: 100;
    margin-top: 40px;
	font-size: 20px;
  }
  
  .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    border: 1px solid green !important;
    background-color: #fff !important;
    color: #000;
    padding: 10px;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    border: 1px solid #f7e700 !important;
    background-color: #fff;
    color: #000;
    padding: 10px;
}
