.hamburger {
  z-index: 99999999999;
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  @include transform(translateY(-50%));

  span {
    position: relative;
    display: block;
    width: $hamburger_width;
    height: 3px;
    margin-top: #{$hamburger_margin};
    background: #0097D7;
    @include transition(all $hamburger_transition);

    &:before,
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      left: 0;
      background: #0097D7;
      position: absolute;
      @include transition(all $hamburger_transition);
    }
    &:before { top: -#{$hamburger_margin}; }
    &:after { bottom: -#{$hamburger_margin}; }
  }
  &.hamburger-showLeft {
    @include transform(translate(0, -50%));
    span {
      &:before,
      &:after { left: auto; right: 0; }
    }
  }
  &.hamburger-3 {
    @include transform(translate(0, -50%));
  }
  &.hamburger-4 {
    @include transform(translate(0, -50%));
  }
  &.hamburger-5 {
    @include transform(translate(0, -50%));
  }
  &.close {
    &.hamburger-1 {
      span {
        @include transform(rotate(-180deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-showLeft {
      span {
        @include transform(rotate(180deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(-45deg));
        }
      }
    }
    &.hamburger-3 {
      span {
        @include transform(rotate(-270deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-4 {
      span {
        @include transform(rotate(270deg));
        &:before,
        &:after {
          width: 10px;
        }
        &:before {
          top: -4px;
          @include transform(rotate(-45deg));
        }
        &:after {
          bottom: -4px;
          @include transform(rotate(45deg));
        }
      }
    }
    &.hamburger-5 {
      span {
        @include transform(rotate(180deg));
        background: transparent;
        &:before {
          top: 0;
          @include transform(rotate(45deg));
        }
        &:after {
          bottom: 0;
          @include transform(rotate(-45deg));
        }
      }
    }
  }

  @include responsive(small){
    z-index: 999;
    display: block;
  }
}
