header {
  z-index: 99999;
  @if $sticky_header == true {
    position: fixed;
    } @else {
      position: relative;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    // box-shadow : 1px 1px 2px darken($color1, 4);

    .top-header {
      @if $top_header_activate == true {
        display: block;
        } @else {
          display: none;
        }
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        min-height: $top_header_hight;
        padding: 10px 30px;
        background: $top_header_color;
      }

      .bottom-header {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 40px 50px;
        color: #fff;
		padding-bottom: 50px;

        @include responsive(medium){
          padding: 15px 10px;
        }

        &:before {
          z-index: -1;
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $header_bottom_color;
          opacity: $header_bottom_opacity;
          zoom: 1;
        }
		img {
			width: 100%;
			max-width: 24vw;
		}
      }

      .logo-desktop {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        width: 20%;

        @include responsive(medium){
          width: 21%;
        }

        @include responsive(small){
          width: 40%;
        }

        img  {
          display: inline-block;
          position: relative;
          top: 0;
          left: 50px;
          max-width: $logo_max_width;

          @include responsive(medium){
            width: 150px;
          }
        }
      }

      .open-hours {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 0;
        width: 60%;
        font-size : 20px;
        font-weight: 100;
        text-align: center;
        text-transform: uppercase;

        @include responsive(medium){
          width: 48%;
          font-size: 14px;
        }

        @include responsive(small){
          display: none;
          width: 40%;

        }
      }

      .info {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 0;
        width: 13%;
        text-align: right;

        @include responsive(medium){
          width: 20%;
          font-size: 14px;
        }

        @include responsive(small){
          width: 37%;
        }

        img {
          display: inline-block;
          position: relative;
          top:0;
          left: 0;
          margin-left: 15px;
          
        }

        .num .tel {
          display: inline-block;
          color: #fff;

          @include responsive(small){
            display: none;
          }
        }
      }
    }




.top-number {
		float: right;
		position: relative;
	
		p {
		float: left;
		margin-right: 50px !important;
		font-size: 22px;
		color: $color6;
		margin-top: 0px;
		font-weight: 100;
	}
	 a {
		color: $color6;
		font-weight: 700 !important;
	}
	strong {
		color: $color6;
		
		&:after {
			content: ".";
			color: $color7;
			font-size: 50px;
			float: right;
			position: absolute;
			top: -35px;
			bottom: -30px;
			right: 57%;
		}
	}
}



li.home_icon {
		a{
			 display: block;
			color: transparent !important;
			&:before {
				content: "";
				position: absolute;
				right: 0;
				bottom: 20px;
				width: 32px;
				top: 0;
				background: url('../../images/Julie-beaudoin_menu_accueil.png');
				background-repeat: no-repeat;
				background-size: 1.5vw 1.5vw;
				background-position: center right;
			}
		}
}
