.single-information {
    background-color: $white !important;
	
	.info-patient {
			h1 {
			font-size: 3vw;
			line-height: 3vw;
			text-transform: uppercase;
			color: $color5;
			font-weight: 100;
		}
	}
}
.info-patient{
	padding-left: 0 !important;
    padding-right: 0 !important;
	
	.info-left{
		float: left;
		height: 46.5vw;
		background: $grey_color;
		padding: 0 !important;
		
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
			width: 16px;
	}
		.mCSB_scrollTools .mCSB_draggerRail {
			width: 16px;
			background-color: $footer_background !important;
	}
		
	}		
	 .inner-left {
		padding: 5vw;
	a {
		color: $color6;
		font-weight: 500;
		
		&:hover{
		font-weight: 900;
		}
		span {
			text-decoration: underline;
		}
	}
		b, strong {
			font-weight: 500;
		}
	li {
		color: $color6;
		margin: 5px;
		list-style-type: disc;
		font-size: 20px;
		font-weight: 400;
	}	
	p {
		font-size: 1vw;
	}
		img {
			margin: 15px;
			margin-left: 0;
		}
		h2 {
			color: $color5;
			text-transform: uppercase;
			font-weight: 500;
		}
		h3 {
				color: $color5;
				font-weight: 100;
			}
		ul {
			margin: 20px;
		}
	}
	h1 {
		font-size: 5vw;
		line-height: 4vw;
		text-transform: uppercase;
		color: $color5;
		font-weight: 100;
	}
	
	.info-right{
	padding-left: 0 !important;
    padding-right: 0 !important;
	height: 46.5vw;
	
	.info-background {
		position: relative; 
		
		&:before {
		content: "";
		background: rgba(0, 75, 132, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
		img {
			width: 100%;
		}
	}
	
	.gray {
		background-color: $grey_color;
	}
	.blue-heading{
		padding: 0 !important;
		min-height: 13.5vw;
	}
	.blue-heading{
	
	.textwidget{
			background-color: $color7;
		}
		p {
			color: $white;
			font-weight: 100;
			font-size: 1.3vw;
			padding: 0.6vw;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
		}
	}
	
		.menu-information-box1-container {
			background-color: $grey_color;
			max-height: 10vw;
			padding: 1vw;
	}
		.menu-information-box2-container {
			padding: 1vw;
			max-height: 10vw;
	}
		.menu-information-box3-container {
			max-height: 10vw;
			padding: 1vw;
	}	
	ul#menu-information-box2 {
		padding-left: 3vw;
		margin: 0.7vw;
	
	li{
		list-style-type: disc;
		color: $color6;
	}
	
	a {
		font-size: 1.1vw;
		font-weight: 100;
		color: $color6;
		&:hover {
			font-weight: 900;
		}
	}
}
ul#menu-information-box1 {
		padding-left: 3vw;
		margin: 0.7vw;
	
	li{
		list-style-type: disc;
		color: &color6;
	}
	a {
		font-size: 1.1vw;
		font-weight: 100;
		color: $color6;
		&:hover {
			font-weight: 900;
		}
	}
}
	ul#menu-information-box3 {
		padding-left: 3vw;
		margin: 0.7vw;
	
	li{
		list-style-type: disc;
		color: $color6;
	}
	
	a {
		font-size: 1.1vw;
		font-weight: 100;
		color: $color6;
		&:hover {
			font-weight: 900;
		}
	}
	}
	.dark-blue {
		min-height: 13.5vw;
		padding: 0 !important;
	}
	.dark-section {
		background-color: $color5;
		padding: 1.5vw;
		text-align: center;
		/*min-height: 13.5vw;*/
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		&:hover {
				background-color: $color7;
				cursor: pointer;
			}
		
		img {
			width: 3.1vw;
		}
		p {
			text-align: center;
			color: $white !important;
			width: 100%;
			margin: 1.5vw auto;
			font-size: 1.4vw;
			font-weight: 100;
			line-height: 1.5vw;
			}
			.inner-dark {
			max-width: 16vw;
			width: 100%;
			margin: 0 auto;
			}
			
		}
	}

}


.information {
	.row{
		.row {
			 margin-left: 0 !important; 
			 margin-right: 0 !important; 
			}
	}
}



