*, *:after, *:before {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;

  /* ==== SCROLLBAR ==== */
  &::-webkit-scrollbar { 
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track { 
    background-color: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb { 
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner { 
    background-color: transparent;
  }
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: $font1;
  background: $white;
  -webkit-overflow-scrolling: touch; 
  font-family: 'Roboto', sans-serif;
}

body.over-menu {
		overflow: hidden;
	}

a {
// cursor: url('img/cursor.png'), pointer;
cursor: pointer;
text-decoration: none; 
transition: all 0.2s ease-in;
}

a:link, a:visited, a:hover, a:active {
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style: none; 
}

img {
  display: inline-block;
  max-width: 100%;
}

img, a {
  outline: none;
  border: 0 solid transparent;
}

.clearfix {
  clear: both;
}

table tr:nth-of-type(even){background: transparent;}
table tr:nth-of-type(odd){background: $grey;}

/* ==== PLACEHOLDER ==== */
::-webkit-input-placeholder {
  color:    #999;
}
:-moz-placeholder { 
  color:    #999;
}
::-moz-placeholder { 
  color:    #999;
}
:-ms-input-placeholder { 
  color:    #999;
}

/* ==== SELECTION ==== */
::selection {
  background: $color1;
  color: white; 
}
::-moz-selection {
  background: $color1;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1 {font-size: $h1;}

h2 {font-size: $h2;}

h3 {font-size: $h3;}

h4 {font-size: $h4;}

h5 {font-size: $h5;}

h6 {font-size: $h6;}

.col {
  @extend .columns;
}

#wrap {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

  #site_content {
    position: absolute;
    left:0;
    width: 100%;
    height: auto;
  }
}

.full-cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /*min-height: 400px;*/
}

.container {
  @extend .columns, .small-12, .small-centered, .#{$container_width};
  padding: 30px;
}

.row, .columns, .column {
  position: relative;
}

.align_center {
  text-align: center;
}

.centered {
  position : absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%); 

  @include responsive(small){
    width: 85%;
  }
}

/* ==== OTHER UI ==== */
div#back_top {
  display: none;
  cursor: pointer;
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 11px;
  background: $color7;
  border-radius: 100px;
    width: 55px;
    height: 55px;

  @include responsive(xsmall) {
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
  }

  span {
    color: $white;
    font-size: 2em;
	padding: 1px;
  }
  &:hover {
    background: $color5;
}
}

/* ==== Image Tag Hack ==== */

img.cover{
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  padding-left: 100% !important;
  box-sizing: border-box !important;
  &.full{
  	position: absolute;
		top:0;
		left:0;
		bottom:0; 
		right:0;
  }
}

/*** s.css*****/

.container {
    width: 100%;
    padding: 0 !important;
}
.propos {
		text-align: center;
		width: 100%;
		padding: 50px;
		padding-top: 0px;
		padding-bottom: 0;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-content: center;
		align-content: center;
		h1 {
			text-align: center;
			width: 100%;
		}
		h2 {
			font-size: 60px;
			text-transform: uppercase;
			font-weight: 600;
		}
		 a {
			background-color: rgba(15,89,130, 0.5);
			padding: 15px 50px 20px 50px;
			text-transform: uppercase;
			color: $white;
			font-size: 18px;
			border: 1px solid #fff;
		}
		strong {
			text-transform: uppercase;
			color: $white;
			font-size: 90px;
		}
		 p {
			font-size: 20px;
			color: $white;
			font-weight: 100;
			width: 100%;
			max-width: 900px;
			margin: 10px auto;
		}
		h1 {
			font-size: 90px;
			color: $white;
			line-height: 75px;
			font-weight: 100;
		}
		a:hover {
			background-color: $color7;
			color: $color5;
		}
		img {
			margin: 10px;
		}
		.serive-btn {
			display: inline-block;
			margin-top: 50px;
			text-align: center;
			width: 100%;
		}
}




.equip {
    text-align: center;
    width: 100%;
    color: $white;
    padding-bottom: 150px;
	
	img {
		margin: 10px;
	}
	h2 {
		font-size: 90px;
		text-transform: uppercase;
		font-weight: 100;
		line-height: 90px;
	}
	 a{
		background-color: rgba(104,108,93, 0.5);
		padding: 15px 50px 20px 50px;
		text-transform: uppercase;
		color: $white;
		font-size: 18px;
		border: 1px solid $white;
	}
	p {
		font-size: 20px;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		color: $white;
		font-weight: 100;
	}
	img {
		width: 100px !important;
		text-align: center !important;
		display: inline-block !important;
	}
	a:hover {
		background-color: $footer_background;
		color: $hover;
		border-color: $hover;
	}
	.serive-btn {
		display: inline-block;
		margin-top: 50px;
		text-align: center;
		width: 100%;
	}	
}




h1.page-heading {
    display: none;
}
p {
    color: $color6;
    font-weight: 400;
	font-size: 20px;
}
strong {
    font-weight: 700 !important;
}
a {
    font-weight: 100;	
}

 



.notre {
		text-align: center;
	
	h3 {
		text-transform: uppercase;
		font-size: 26px;
		color: $color5;
		font-weight: 500;
		
	}
	strong {
		color: $color5;
	}
}


.left-mission{
		padding: 50px;
		padding-top: 100px;
		padding-bottom: 0;
		display: inline-block;
		text-align: center;
	img {
		width: 90px;
	}
	p {
		margin: 0 auto;
		width: 100%;
		max-width: 500px;
		text-align: center;
		padding-bottom: 20px;
		font-size: 20px;
	    font-weight: 500;

	}
	.wpb_text_column.wpb_content_element {
		margin-bottom: 20px;
	}
	.wpb_single_image.wpb_content_element.vc_align_center {
		margin-bottom: 10px;
	}
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 50px solid transparent;
		border-bottom: 50px solid transparent;
		border-left: 50px solid white;
		position: absolute;
		top: 44%;
		right: -50px;
		z-index: 9999;
	}
	.vc_column_container>.vc_column-inner {
		text-align: center;
	}
	
	
}



#carousel
{
	.item
	{
		.centered {
			text-align: left !important;
			strong {
				color: $white;
				font-size: 4.7vw;
			}
		}
		p {
			text-align: left !important;
		}
	}
}  

.home-transprate {
    position: relative;
	height: 1010px;
	
	&:before {
		position: absolute;
		content: " ";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block !important;
		z-index: 0;
		background-color: rgba(0, 75, 132, .7);
	}
	.serive-btn {
		display: inline-block;
		text-align: center;
		width: 100%;
		padding-top: 30px;
		
		a {
			background-color: rgba(15, 89, 130, 0.5);
			padding: 15px 50px 20px 50px;
			text-transform: uppercase;
			color: $white;
			font-size: 18px;
			border: 1px solid $white;
		}
		a{
		&:hover {
			background-color: $color7;
			color: #004B84;
			}
		}
	}
		.vc_column-inner {
				display: -webkit-flex;
			/*	display: flex; */
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
				-webkit-align-content: center;
				align-content: center;
				height: 1010px;
			}
}



.vc_row {
     margin-left: 0px !important; 
     margin-right: 0px !important; 
}

.home-spacing{
	
	float: right !important;
	
	.vc_column-inner {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	.home-propos {
			font-size: 90px;
			color: $white;
			line-height: 75px;
			font-weight: 100;
			text-transform: uppercase;
			padding-top: 40px;
		}
		.home-line-image {
			margin: 20px !important;
			margin-bottom: 0 !important;
		}

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $color5 !important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0 !important;
}	
.mCSB_scrollTools {
    opacity: 1 !important;
}

::selection {
    background-color: $color7;
}
::-moz-selection { /* Code for Firefox */
   background-color: $color7;
}
.propos-down-arrow{
			padding-top: 150px;
		
		h2 {
			font-size: 90px;
			text-transform: uppercase;
			font-weight: 100;
			line-height: 90px;
			color: $white;
		}
		.wpb_single_image.wpb_content_element.vc_align_center {
			margin-bottom: 0;
		}
		img {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
/***** end-s.css****/



