#map {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;

	#content-map {
		min-width: 300px;
	}

	a {
		color: $color1;
		font-weight: bold;

		&.itineraire {
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 1.2em;
			text-decoration: underline;
			color : $color1;
		}
	}
}