
.menu-dektop {
	display: inline-block;

	.primary_menu {
		position: absolute;
		top: 0;
		right: 100px;
		margin-top: 4%;


		li {
			position: relative;
			top: 0;
			left: 0;
			float: left;
			margin-left: 1vw;
			line-height: 4;

			a {
				color: $color6;
				.desktop &:hover {
					color: $color7;
				}
			}
			a {
			font-size: 21px;
			font-weight: 100;
			text-transform: uppercase;
			
			}
			&.current-menu-item  a {
				color: $color7;
				padding-bottom: 5px;
				
			}
		}
	}

	@include responsive(small){
		display: none;
	}
}

.menu-mobile {
	display: block;
	z-index:99999999999;
	background: #0097D7;
	position: fixed;
	overflow-y: auto; 

	h3 {
		color: #fff;
		font-size: 1.9em;
		padding: 20px;
		margin: 0;
		font-weight: 300;
		background: darken($color1, 5);
	}

	
	ul {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 100px;
	}

	li {
		text-align: center;

		a {
			display: block;
			color: #fff;
			font-size: 1em;
			font-weight: 300;
			padding: 15px 0;

			&:hover {
				background: #004B84;
			}

			&:active {
				background: #fff;
				color: #2AC5F4;
			}
		}
	}
}

/* Orientation-dependent styles for the content of the menu */
.menu-mobile-vertical {
	width: 350px;
	height: 100%;
	top: 0;
	z-index: 1000;

	a {
		border-bottom: 1px solid #0097D7;
		padding: 1em;
	}
}

.menu-mobile-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;

	h3 {
		height: 100%;
		width: 20%;
		float: left;
	}

	a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid lighten($color1, 10);
	}
}

/* Vertical menu that slides from the left or right */
.menu-mobile-left {
	left: -350px;
}

.menu-mobile-right {
	right: -350px;
}

.menu-mobile-left.menu-mobile-open {
	left: 0px;
}

.menu-mobile-right.menu-mobile-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.menu-mobile-top {
	top: -150px;
}

.menu-mobile-bottom {
	bottom: -150px;
}

.menu-mobile-top.menu-mobile-open {
	top: 0px;
}

.menu-mobile-bottom.menu-mobile-open {
	bottom: 0px;
}

/* Push classes applied to the body */
.menu-mobile-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.menu-mobile-push-toright {
	left: 350px !important;
}

.menu-mobile-push-toleft {
	left: -350px;
}

/* Transitions */

.menu-mobile,
.menu-mobile-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.menu-mobile-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.menu-mobile-top {
		top: -110px;
	}

	.menu-mobile-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.menu-mobile-vertical {
		font-size: 90%;
		width: 350px;
	}

	.menu-mobile-left,
	.menu-mobile-push-toleft {
		left: -190px;
	}

	.menu-mobile-right {
		right: -350px;
	}

	.menu-mobile-push-toright {
		left: 190px;
	}
}

.menu-principal-container ul li a strong {
    font-weight: 700 !important;
}