.page-numbers {
  display: inline-block;
  padding: 10px 15px;
  margin: 0 2px 0 0;
  border: 1px solid $color1;
  line-height: 1;
  text-decoration: none;
  border-radius: 2px;
  font-weight: 600;
  background: $color1;
  color: #fff;
}
.page-numbers.current,
a.page-numbers:hover {
  background: darken($color1, 15);
}

.screen-reader-text {
  text-indent: -999em;
}
.nav-previous {
  width: 50%;
  float: left;
  text-align: left;
}
.nav-next {
  text-align: right;
  float: right;
  width: 50%;
}