// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group functions
////

$global-font-size: 100% !default;

/// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
///
/// @param {Number} $num - Number to strip unit from.
///
/// @returns {Number} The same number, sans unit.
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

/// Converts one or more pixel values into matching rem values.
///
/// @param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas. If you need to convert a comma-separated list, wrap the list in parentheses.
/// @param {Number} $base [null] - The base value to use when calculating the `rem`. If you're using Foundation out of the box, this is 16px. If this parameter is `null`, the function will reference the `$base-font-size` variable as the base.
///
/// @returns {List} A list of converted values.
@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  // If no base is defined, defer to the global font size
  @if $base == null {
    $base: $global-font-size;
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  // Using rem as base allows correct scaling
  @if unit($base) == 'rem' {
    $base: strip-unit($base) * 16px;
  }

  @if $count == 1 {
    @return -zf-to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, -zf-to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}

// Converts a unitless, pixel, or rem value to em, for use in breakpoints.
@function -zf-bp-to-em($value) {
  // Pixel and unitless values are converted to rems
  @if unit($value) == 'px' or unitless($value) {
    $value: rem-calc($value, $base: 16px);
  }

  // Then the value is converted to ems
  @return strip-unit($value) * 1em;
}

/// Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
/// @access private
///
/// @param {Number} $value - Pixel value to convert.
/// @param {Number} $base [null] - Base for pixel conversion.
///
/// @returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
@function -zf-to-rem($value, $base: null) {
  // Check if the value is a number
  @if type-of($value) != 'number' {
    @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  // Transform em into rem if someone hands over 'em's
  @if unit($value) == 'em' {
    $value: strip-unit($value) * 1rem;
  }

  // Calculate rem if units for $value is not rem or em
  @if unit($value) != 'rem' {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  // Turn 0rem into 0
  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}

/// Converts a pixel, percentage, rem or em value to a unitless value based on a given font size. Ideal for working out unitless line heights.
///
/// @param {Number} $value - Value to convert to a unitless line height
/// @param {Number} $base - The font size to use to work out the line height - defaults to $global-font-size
///
/// @return {Number} - Unitless number
@function unitless-calc($value, $base: null) {

  // If no base is defined, defer to the global font size
  @if $base == null {
    $base: $global-font-size;
  }

  // First, lets convert our $base to pixels

  // If the base font size is a %, then multiply it by 16px
  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  @if unit($base) == 'rem' {
    $base: strip-unit($base) * 16px;
  }

  @if unit($base) == 'em' {
    $base: strip-unit($base) * 16px;
  }

  // Now lets convert our value to pixels too
  @if unit($value) == '%' {
    $value: ($value / 100%) * $base;
  }

  @if unit($value) == 'rem' {
    $value: strip-unit($value) * $base;
  }

  @if unit($value) == 'em' {
    $value: strip-unit($value) * $base;
  }

  // 'px'
  @if unit($value) == 'px' {
    @return strip-unit($value) / strip-unit($base);
  }

  // assume that line-heights greatern then 10 are meant to be absolute in 'px'
  @if unitless($value) and ($value > 10) {
    @return $value / strip-unit($base);
  }

  @return $value;
}

// Foundation for Sites by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

////
/// @group breakpoints
////

/// A list of named breakpoints. You can use these with the `breakpoint()` mixin to quickly create media queries.
/// @type Map
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1025px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

/// The largest named breakpoint in which to include print as a media type
/// @type Keyword
$print-breakpoint: large !default;

$-zf-zero-breakpoint: small !default;



@if nth(map-values($breakpoints), 1) != 0 {
  @error 'Your smallest breakpoint (defined in $breakpoints) must be set to "0".';
}
@else {
  $-zf-zero-breakpoint: nth(map-keys($breakpoints), 1);
}

/// All of the names in this list will be output as classes in your CSS, like `.small-12`, `.medium-6`, and so on. Each value in this list must also be in the `$breakpoints` map.
/// @type List
$breakpoint-classes: (small medium large xlarge xxlarge) !default;

/// Generates a media query string matching the input value. Refer to the documentation for the `breakpoint()` mixin to see what the possible inputs are.
///
/// @param {Keyword|Number} $val [small] - Breakpoint name, or px, rem, or em value to process.
@function breakpoint($val: $-zf-zero-breakpoint) {
  // Size or keyword
  $bp: nth($val, 1);
  // Value for max-width media queries
  $bp-max: 0;
  // Direction of media query (up, down, or only)
  $dir: if(length($val) > 1, nth($val, 2), up);
  // Eventual output
  $str: '';
  // Is it a named media query?
  $named: false;

  // Orientation media queries have a unique syntax
  @if $bp == 'landscape' or $bp == 'portrait' {
    @return '(orientation: #{$bp})';
  }
  @else if $bp == 'retina' {
    @return '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
  }

  // Try to pull a named breakpoint out of the $breakpoints map
  @if type-of($bp) == 'string' {
    @if map-has-key($breakpoints, $bp) {
      @if $dir == 'only' or $dir == 'down' {
        $bp-max: -zf-map-next($breakpoints, $bp);
      }

      $bp: map-get($breakpoints, $bp);
      $named: true;
    }
    @else {
      $bp: 0;
      @warn 'breakpoint(): "#{$val}" is not defined in your $breakpoints setting.';
    }
  }

  // Convert any pixel, rem, or unitless value to em
  $bp: -zf-bp-to-em($bp);
  @if $bp-max {
    $bp-max: -zf-bp-to-em($bp-max) - (1/16);
  }

  // Conditions to skip media query creation
  // - It's a named breakpoint that resolved to "0 down" or "0 up"
  // - It's a numeric breakpoint that resolved to "0 " + anything
  @if $bp > 0em or $dir == 'only' or $dir == 'down' {
    // `only` ranges use the format `(min-width: n) and (max-width: n)`
    @if $dir == 'only' {
      // Only named media queries can have an "only" range
      @if $named == true {
        // Only use "min-width" if the floor is greater than 0
        @if $bp > 0em {
          $str: $str + '(min-width: #{$bp})';

          // Only add "and" to the media query if there's a ceiling
          @if $bp-max != null {
            $str: $str + ' and ';
          }
        }

        // Only use "max-width" if there's a ceiling
        @if $bp-max != null {
          $str: $str + '(max-width: #{$bp-max})';
        }
      }
      @else {
        @warn 'breakpoint(): Only named media queries can have an `only` range.';
      }
    }

    // `down` ranges use the format `(max-width: n)`
    @else if $dir == 'down' {
      $max: if($named, $bp-max, $bp);

      // Skip media query creation if input value is exactly "0 down",
      // unless the function was called as "small down", in which case it's just "small only"
      @if $named or $bp > 0em {
        @if $max != null {
          $str: $str + '(max-width: #{$max})';
        }
      }
    }

    // `up` ranges use the format `(min-width: n)`
    @else if $bp > 0em {
      $str: $str + '(min-width: #{$bp})';
    }
  }

  @return $str;
}

/// Wraps a media query around the content you put inside the mixin. This mixin accepts a number of values:
///  - If a string is passed, the mixin will look for it in the `$breakpoints` map, and use a media query there.
///  - If a pixel value is passed, it will be converted to an em value using `$global-font-size` as the base.
///  - If a rem value is passed, the unit will be changed to em.
///  - If an em value is passed, the value will be used as-is.
///
/// @param {Keyword|Number} $value - Breakpoint name, or px, rem, or em value to process.
///
/// @output If the breakpoint is "0px and larger", outputs the content as-is. Otherwise, outputs the content wrapped in a media query.
@mixin breakpoint($value) {
  $str: breakpoint($value);
  $bp: index($-zf-breakpoints-keys, $value);
  $pbp: index($-zf-breakpoints-keys, $print-breakpoint);

  // If $str is still an empty string, no media query is needed
  @if $str == '' {
    @content;
  }

  // Otherwise, wrap the content in a media query
  @else {
    // For named breakpoints less than or equal to $print-breakpoint, add print to the media types
    @if $bp != null and $bp <= $pbp {
      @media print, screen and #{$str} {
        @content;
       }
    }
    @else {
      @media screen and #{$str} {
        @content;
      }
    }
  }
}

/// Convers the breakpoints map to a URL-encoded string, like this: `key1=value1&key2=value2`. The value is then dropped into the CSS for a special `<meta>` tag, which is read by the Foundation JavaScript. This is how we transfer values from Sass to JavaScript, so they can be defined in one place.
/// @access private
///
/// @param {Map} $map - Map to convert.
///
/// @returns {String} A string containing the map's contents.
@function -zf-bp-serialize($map) {
  $str: '';
  @each $key, $value in $map {
    $str: $str + $key + '=' + -zf-bp-to-em($value) + '&';
  }
  $str: str-slice($str, 1, -2);

  @return $str;
}

/// Find the next key in a map.
/// @access private
///
/// @param {Map} $map - Map to traverse.
/// @param {Mixed} $key - Key to use as a starting point.
///
/// @returns {Mixed} The value for the key after `$key`, if `$key` was found. If `$key` was not found, or `$key` was the last value in the map, returns `null`.
@function -zf-map-next($map, $key) {

  // Store the keys of the map as a list
  $values: map-keys($map);

  $i: 0;

  // If the Key Exists, Get the index of the key within the map and add 1 to it for the next breakpoint in the map
  @if (map-has-key($map, $key)) {
    $i: index($values, $key) + 1;
  }

  // If the key doesn't exist, or it's the last key in the map, return null
  @if ($i > length($map) or $i == 0) {
    @return null;
  }
  // Otherwise, return the value
  @else {
    @return map-get($map, nth($values, $i));
  }

}

/// Get a value for a breakpoint from a responsive config map or single value.
/// - If the config is a single value, return it regardless of `$value`.
/// - If the config is a map and has the key `$value`, the exact breakpoint value is returned.
/// - If the config is a map and does *not* have the breakpoint, the value matching the next lowest breakpoint in the config map is returned.
/// @access private
///
/// @param {Number|Map} $map - Responsive config map or single value.
/// @param {Keyword} $value - Breakpoint name to use.
///
/// @return {Mixed} The corresponding breakpoint value.
@function -zf-get-bp-val($map, $value) {
  // If the given map is a single value, return it
  @if type-of($map) == 'number' {
    @return $map;
  }

  // Check if the breakpoint name exists globally
  @if not map-has-key($breakpoints, $value) {
    @return null;
  }
  // Check if the breakpoint name exists in the local config map
  @else if map-has-key($map, $value) {
    // If it does, just return the value
    @return map-get($map, $value);
  }
  // Otherwise, find the next lowest breakpoint and return that value
  @else {
    $anchor: null;
    $found: false;

    @each $key, $val in $breakpoints {
      @if not $found {
        @if map-has-key($map, $key) {
          $anchor: $key;
        }
        @if $key == $value {
          $found: true;
        }
      }
    }

    @return map-get($map, $anchor);
  }
}

@if map-has-key($breakpoints, small) {
  $small-up: screen;
  $small-only: unquote('screen and #{breakpoint(small only)}');
}

@if map-has-key($breakpoints, medium) {
  $medium-up: unquote('screen and #{breakpoint(medium)}');
  $medium-only: unquote('screen and #{breakpoint(medium only)}');
}

@if map-has-key($breakpoints, large) {
  $large-up: unquote('screen and #{breakpoint(large)}');
  $large-only: unquote('screen and #{breakpoint(large only)}');
}

@if map-has-key($breakpoints, xlarge) {
  $xlarge-up: unquote('screen and #{breakpoint(xlarge)}');
  $xlarge-only: unquote('screen and #{breakpoint(xlarge only)}');
}

@if map-has-key($breakpoints, xxlarge) {
  $xxlarge-up: unquote('screen and #{breakpoint(xxlarge)}');
}









/************** media query *********/
@media screen and (max-width: 1850px) {
.main-overlay .text-overlay {
    max-width: 350px;
}
.menu-dektop .primary_menu li {
   
	line-height: 4.5;
}
.menu-dektop .primary_menu li a {
    font-size: 1.1vw;
}
}
@media screen and (max-width: 1700px){


.top-number {
    position: relative;
    bottom: 15px;
}
.bottom-header img {
    max-width: 26vw;
}

}
@media screen and (max-width: 1570px){
.menu-dektop .primary_menu li a {
    font-size: 16px;
}
.top-number strong:after {
    top: -40px;
}
.menu-dektop .primary_menu li {
    line-height: 5.5;
}
.top-number p {
    font-size: 16px;
}
.top-number {
     bottom: 0px;
}


}
@media only screen and (max-width: 1500px) and (min-width: 1281px)  {
	.menu-dektop .primary_menu {
    right: 72px;
}
header .bottom-header {
    padding: 40px 25px;
}
	
}


@media screen and (max-width: 1600px){
.footer-section-right-one .contact-time li {
    line-height: 1.5vw;
    font-size: 1.2vw;
}
.footer-section-right p {
    font-size: 1.2vw;
    line-height: 1.5vw;
}
a.sky-phone {
    font-size: 1.2vw;
}
a.sky-black {
    font-size: 1.2vw;
}
a.ftr-mail {
    font-size: 1.2vw;
}
.logo-content p {
    font-size: 1.2vw;
    line-height: 1.5vw;
}


.contact-info #map {
    height: 750px !important;
}
.contact-info .info {
    height: 750px;
}
.single-ser .single-post-serive {
    padding: 50px;
    padding-bottom: 20px;
}
.single-ser .single-content {
    padding: 200px;
    padding-top: 0;
}
.clinic [class^="ti-"] {
    font-size: 50px;
}
.text-overlay {
    max-width: 350px;
}

}


@media screen and (max-width: 1410px){
li.home_icon a:before {
    bottom: 5px;
    background-size: 20px 20px;
}
.propos-down-arrow h2 {
    font-size: 5vw;
    line-height: 5vw;
}
.home-propos {
    font-size: 5vw !important;
    line-height: 5vw !important;
}
.main-overlay .text-overlay {
    max-width: 250px;
}
.single-ser .single-content {
    padding: 180px;
}
.single-post-zone h1 {
    line-height: 3vw;
    font-size: 3vw;
}
.zone-enfant .sky-blue {
    padding: 50px;
}
.zone-enfant .zone-listing-page {
    padding: 50px;
	padding-top: 100px;
}
.contact-time strong {
    width: 75px;
}
.contact-time li {
    line-height: 1.5vw;
	font-size: 1.2vw;
}
.info p {
    font-size: 1.3vw;
}
.menu-dektop .primary_menu li a {
    font-size: 1.06vw;
}
.autres h2 {
    font-size: 5vw;
	line-height: 5vw;
}
.left-mission p {
   font-size: 1.4vw;
}
.propos h1 {
    font-size: 5vw;
	line-height: 60px;
}
.propos p {
    font-size: 1.4vw;
}
.propos strong {
    font-size: 5vw;
}
.menu-dektop .primary_menu li {
    line-height: 6;
}
.top-number p {
    font-size: 1.06vw;
}

.equip h2 {
    font-size: 5vw;
	line-height: 60px;
}
.equip p {
    font-size: 1.4vw;
}

.equip a {
    font-size: 1.6vw;
}
.servie-main .servie-rigth .listing-page {
    padding: 50px;
}
.servie-main .main-serive-page .service-content {
    padding: 50px;
}

.services h2.category {
    font-size: 14px !important;
}
.info-left h1 {
    line-height: 60px;
}

.listing-zone {
    min-height: 300px;
}
.listing-zone h2 {
    font-size: 20px;
}

#map {
    height: 700px !important;
}
.info {
    height: 700px;
}



}


@media screen and (max-width: 1280px){
.propos {
    padding-top: 0;
}

.zone-enfant .listing-zone h2 {
    font-size: 20px;
    line-height: 20px;
}
.menu-dektop .primary_menu li {
    line-height: 2;
}
.top-number {

    position: relative !important;
    right: 37px;
}
.single-content {
    padding: 160px;
}
.service-icon-single-page {
    margin-right: 20px;
}
.single-post-serive h1 {
    line-height: 55px;
}
.text-overlay {
    max-width: 250px;
}
.sky-blue {
    padding: 60px;
}
.zone-listing-page {
    padding: 60px;
}

}
@media screen and (max-width: 1200px){
.main-overlay p {
    font-size: 1vw;
}
li.home_icon a:before {
    bottom: 0;
    background-size: 15px 15px;
}

.single-ser h1.post-title {
    font-size: 5vw;
	line-height: 5vw;
}
label, input[type="radio"] + span, input[type="radio"] + span::before, label, input[type="checkbox"] + span, input[type="checkbox"] + span::before {
    font-size: 20px;
}
.info-patient .info-right ul#menu-information-box1 a {
    font-size: 17px;
}
.info-patient .info-right ul#menu-information-box2 a {
    font-size: 17px;
}
.info-patient .info-right ul#menu-information-box3 a {
    font-size: 17px;
}
.info-patient .inner-left p {
    font-size: 20px;
}
.professional .professional-content {
    padding: 10px;
}
.professional .professional-gray-content {
    padding: 10px;
	min-height: auto;
}
.columns.small-12.medium-6.large-6.info-right, .small-12.medium-6.large-6.info-right.col, .medium-6.large-6.info-right.container {
    height: auto;
}
.info-patient .info-right ul#menu-information-box1 {
    padding-left: 15%;
    margin: 10px;
}
.info-patient .info-right ul#menu-information-box2 {
    padding-left: 15%;
    margin: 10px;
}
.info-patient .info-right ul#menu-information-box3 {
    padding-left: 15%;
    margin: 10px;
}
.info-patient .info-right .menu-information-box1-container {
    max-height: 130px;
    padding: 10px;
}
.info-patient .info-right .menu-information-box2-container {
    max-height: 130px;
    padding: 10px;
}
.info-patient .info-right .menu-information-box3-container {
    max-height: 130px;
    padding: 10px;
}
.information-widget-section.blue-heading.columns.small-12.medium-6.large-6, .information-widget-section.blue-heading.small-12.medium-6.large-6.col, .information-widget-section.blue-heading.medium-6.large-6.container {
    padding: 0 !important;
    min-height: 180px;
}
.information-widget-section.dark-blue.columns.small-12.medium-6.large-6, .information-widget-section.dark-blue.small-12.medium-6.large-6.col, .information-widget-section.dark-blue.medium-6.large-6.container {
    min-height: 180px;
    padding: 0 !important;
}
.info-patient .info-right .dark-section .inner-dark {
    max-width: 300px !important;
}
.dark-section img {
    height: 70px;
    max-width: 70px;
	width: auto !important;
}
.info-patient .info-right .dark-section p {
    font-size: 18px;
    line-height: 25px;
}
.footer-left {
    width: 100%;
}
.footer-right {
    width: 100%;
}
.logo-content {
    width: auto;
	position: relative;
    top: 25px;
}
.logo-content p {
    font-size: 18px;
}
.banner-equipe .professional.clinique h2 {
    font-size: 8vw;
    line-height: 7vw;
}
.servie-main .servie-rigth .listing-service {
    width: 50%;
}
.zone-listing-page {
    padding: 50px;
}

.sky-blue {
    padding: 50px;
}

#map {
    height: 681px !important;
}
.info {
    height: 681px;
}
.info p {
    font-size: 1.3vw;
}
.contact-time li {
    font-size: 1.3vw;
	line-height: 2vw;
}
.contact-time strong {
    width: 6.5vw;
}
.info-left .inner-left {
    padding: 50px;
}
.footer-section-right .contact-time li {
    line-height: 25px;
}
.footer-section-left {
    float: none;
    text-align: center;
}
footer .inner-footer .footer-left img {
    width: 55px;
    margin: 10px;
}
.main-footer {
	padding-top: 0;
    padding-bottom: 0;
}
.logo-content {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
}
footer .inner-footer .footer-left .logo-content p {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
	position: relative;
	margin-top: 0;
	bottom: 15px;
 
}



.footer-section-right-one {
    width: 33.33%;
}
.footer-section-right {
    width: 33.33%;
}
.footer-section-right-one {
    margin-left: 0px;
}
.footer-section-right {
     margin-right: 0px; 
     max-width: none;
}
footer .inner-footer .footer-right .footer-section-right p {
    font-size: 13px;
    line-height: 18px;
}
a.sky-phone {
    font-size: 1.5vw;
}
footer .inner-footer .footer-right .footer-section-right a {
    font-size: 13px;
}
a.ftr-mail {
    font-size: 1.5vw;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time li {
    line-height: 18px;
    font-size: 13px;
}
footer .inner-footer .footer-right .footer-heading {
    font-size: 16px;
}
.copyright strong {
    font-size: 15px;
}
.copyright p {
    font-size: 15px;
}
.copyright a {
    font-size: 15px;
}
.info-patient .info-left {
    height: auto;
	width: 100%;
}
.info-right {
    width: 100%;
}
.info-patient .info-right .dark-section {
    background-color: #004B84;
    padding: 20px;
    min-height: 180px;
}
.info-single-left {
    width: 100%;
}
.info-single {
    width: 100%;
}


.single-page-service {
    width: 100%;
}
.single-ser {
    width: 100%;
	height: auto;
}
.single_services_video_page {
   height: auto !important;
}
.info-patient .info-right .blue-heading p {
    font-size: 22px;
}
.main-clinique h1 {
    font-size: 8vw;
	line-height: 7vw;
}
footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

}

@media screen and (max-width: 1105px){
.propos p {
    font-size: 1.7vw;
}
.left-mission p {
    font-size: 1.4vw;
}

.zone-enfant .sky-blue {
    padding: 20px;
}
.zone-enfant .zone-listing-page {
    padding: 20px;
	height: auto;
    padding-top: 70px;
}
.zone-enfant .listing-zone {
    width: 100%;
    margin-bottom: 0px;
	min-height: 200px;
}
.zone-enfant .zone-listing-page .step-icon-zone {
    min-height: 130px;
}

footer .main-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}
footer .inner-footer .footer-left {
    width: 100%;
	margin-top: 0px; 
	text-align: center;
}
footer .inner-footer .footer-left .logo-content {
    width: 100%;
	border-bottom: 1px solid #6E7070;
}
footer .inner-footer .footer-left img {
    width: 80px;
    margin: 10px;
}
footer .inner-footer .footer-right {
    width: 100%;
}
footer .inner-footer .footer-right .footer-section-right-one {
    width: 33.33%;
	margin-top: 50px;
}
footer .inner-footer .footer-right .footer-section-right {
    width: 33.33%;
	margin-top: 50px;
	
}
footer .inner-footer .footer-left .logo-content p {
    text-align: center;
	margin: 0;
	font-size: 1.5vw;
}
footer .inner-footer .footer-right .footer-section-right p {
    font-size: 1.5vw;
    line-height: 20px;
}
footer .inner-footer .footer-right .footer-section-right a {
    font-size: 1.5vw;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time li {
    line-height: 20px;
    font-size: 1.3vw;
}
footer .inner-footer .footer-right .footer-heading {
    font-size: 18px;
}









footer .inner-footer .footer-section-left {
     float: none; 
    text-align: center;
    display: inline-block;
}

.footer-section-right-one .contact-time li {
    line-height: 1.8vw;
    font-size: 1.3vw;
}

.listing-zone {
    width: 100%;
    margin-bottom: 0px;
}
.inner-single-left .small-6 {
    width: 100%;
}
.single-content {
    padding: 50px;
}
.service-icon-single-page {
    float: none;
}
.single-post-serive h1 {
    font-size: 30px;
}
.info-single-left p {
    font-size: 16px;
}
input:not([type="submit"]), input, optgroup, select {
    font-size: 16px;
}
label, input[type="radio"] + span, input[type="radio"] + span::before, label, input[type="checkbox"] + span, input[type="checkbox"] + span::before {
    font-size: 16px;
}
#carousel .item {
    height: 400px;
}
.owl-controls .owl-nav .owl-prev {
    padding: 10px;
}
.owl-controls .owl-nav .owl-next {
    padding: 10px;
}
#carousel .owl-dots {
    top: 190px;
}
.info-single-left li {
    font-size: 16px;
}

}

@media screen and (max-width: 1023px){

.not-found .container {
    min-height: 550px;
}
.not-found .centered_404 {
    top: 45%;
}
.main-overlay .text-overlay {
    max-width: 300px;
}
.text-overlay p {
    font-size: 13px !important;
    margin: 2px;
}
.main-overlay {
    height: 30vw;
}


}


@media screen and (max-width: 1024px){

.home_icon {
    display: none;
}
[class^="ti-"], [class*=" ti-"] {
    padding: 10px;
    font-size: 20px;
}
.contact-info .info {
    height: auto;
	box-shadow: -5px 0px 30px 0px #aaa;
}

.top-number {
    top: 18px;
}

.professional-content .wpb_text_column.wpb_content_element p {
    font-size: 16px;
}
.professional-gray-content .wpb_text_column.wpb_content_element p {
    font-size: 16px;
}

.professional-content h2.vc_custom_heading {
    font-size: 22px;
}
.professional-gray-content h2.vc_custom_heading {
    font-size: 22px;
}
.professional-content h3 {
    font-size: 16px;
}
.professional-gray-content h3 {
    font-size: 16px;
}
.top-number p {
    font-size: 1.8vw;
	margin-right: 40px !important;
}
.top-number strong:after {
    right: 57%;
}
.propos h1 {
    line-height: 50px;
}
.equip h2 {
    line-height: 50px;
}
.m-number p {
    text-align: center;
    color: #fff;
	font-size: 1em;
	font-weight: 100;
}
.m-number strong {
    margin-left: 10px;
}
.m-number {
    width: 100%;
    text-align: center;
}
.m-number a {
    color: #fff;
    font-weight: 900;
	padding: 5px;
}

.service-content {
    padding: 50px;
}

.info p {
    font-size: 18px;
}
.contact-time li {
    font-size: 18px;
    line-height: 25px;
}
.contact-info .vc_column-inner.vc_custom_1499429644386 {
    padding: 50px !important;
}
.contact-info .info-heading {
    font-size: 22px;
}
.contact-info .vc_column-inner.vc_custom_1499429644386 {
    padding: 40px !important;
}
.contact-time strong {
    width: 84px;
}
.info {
    height: 690px;
}
.contact-info #map {
    height: 80vh !important;
	
}
#content-map h3 {
    font-size: 14px;
}
.text-overlay p {
    font-size: 11px;
    margin: 2px;
}

.text-overlay h1 {
    font-size: 20px;
}
.centered strong {
    font-size: 4vw;
}
#carousel .item p {
    font-size: 4vw;
}
#carousel .item .centered {
    line-height: 5vw;
}

#carousel .item h2 {
    font-size: 4vw;
}
.propos-down-arrow:before, .propos-down-arrow:after {
    padding-bottom: 3.2%;
}
.contact-map {
    width: 100% !important;
}
.info {
    width: 100% !important;
	height: auto;
}
.info p {
    font-size: 20px;
}
.contact-time li {
    font-size: 20px;
    line-height: 25px;
}
.contact-time strong {
    width: 130px;
}
.m-number {
    display: none;
}
.team-member .inner-team-blue h3 {
    font-size: 1.3vw;
}
.team-member .inner-team h3 {
    font-size: 1.3vw;
}
.team-member .vc_col-sm-2 {
    height: 9.2vw;
}
}


@media screen and (max-width: 980px){
.zone-enfant .sky-blue .inner-sky-blue {
    max-width: none;
}
.home-transprate .vc_column-inner {
    height: 903px;
}
.home-spacing .home-propos {
    font-size: 45px !important;
    line-height: 45px !important;
	padding-top: 0;
}
.home-transprate {
    height: 903px;
}
.zone-enfant img {
    width: auto !important;
}
.zone-enfant .sky-blue .main-zone-page h1 {
    font-size: 6vw;
    line-height: 20vw;
}
.svg-img {
    float: none;
}
.zone-content br {
    display: none;
}
.zone-icon-single-page {
    float: none;
}
.propos-down-arrow:before, .propos-down-arrow:after {
    padding-bottom: 3.7%;
}
.zone-background {
   width: 100%;
   height: auto;
}
.zone-enfant .listing-zone {
    width: 50%;
    min-height: 210px;
}
.single-post-zone h1 {
    line-height: 6vw;
    font-size: 6vw;
}
.sky-blue {
    width: 100%;
}
.main-zone {
    width: 100%;
}
.servie-left {
    width: 100%;
}
.servie-rigth {
    width: 100%;
}
.servie-main .servie-rigth .listing-service {
    width: 33.33%;
}
.servie-main .servie-rigth {
    height: 100%;
}
.servie-main .servie-left {
    height: 100% !important;
}
.servie-main .main-serive-page .service-content {
    min-height: 100%;
}
.servie-main .main-serive-page h1 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 0px;
}
.zone-enfant .sky-blue {
    height: auto;
}
.zone-enfant .zone-background {
    height: auto;
}
}


@media screen and (max-width: 1060px){



}

@media screen and (max-width: 932px){

footer .inner-footer .footer-right .footer-section-right {
    width: 29%;
}
footer .inner-footer .footer-right .footer-section-right p {
    font-size: 14px;
}
footer .inner-footer .footer-right .footer-section-right a {
    font-size: 14px;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time li {
    font-size: 11px;
}
footer .inner-footer .footer-left .logo-content p {
    font-size: 14px;
}
}

@media screen and (max-width: 864px){



.propos-down-arrow:before, .propos-down-arrow:after {
    padding-bottom: 4%;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time li {
    font-size: 10px;
}
.main-overlay .text-overlay {
    top: 50%;
}
}



@media screen and (max-width: 767px){
#content-map h3 {
    text-align: center;
}
a.num.link {
    position: absolute;
    bottom: 25px;
}
.info-patient .info-right .blue-heading p {
    font-size: 18px;
    padding: 10px;
}
.propos-down-arrow.vc_custom_1500290614846 {
    background-position: left !important;
	background-size: auto !important;
}
.home-transprate .serive-btn {
     padding-top: 0px;
}
.home-transprate .vc_column-inner {
    height: 100%;
}
.clinique-trasnprate p {
    font-size: 16px;
}
.clinic [class^="ti-"] {
    font-size: 30px;
}

#carousel .item .centered img {
    width: 70px !important;
	margin-top: 5px;
}
.home-spacing {
    height: 100%;
}
.home-spacing .home-propos {
    font-size: 45px !important;
    line-height: 45px !important;
}
.main-overlay .text-overlay {
    max-width: 400px;
}
#carousel .item .centered img.bnnr {
    width: 70px !important;
    margin-left: 0;
}
.single-ser .single-content {
    padding: 50px;
}
.single-post-zone .zone-icon-single-page {
    float: none;
}
.zone-enfant .sky-blue {
    height: auto;
}
.zone-enfant .zone-background {
    height: auto;
}
.zone-enfant .listing-zone {
    width: 50%;
	min-height: 220px;
}
.banner-equipe .professional.clinique p {
    font-size: 16px;
}
.single-ser .service-icon-single-page {
    float: none;
}
.servie-main .main-serive-page p {
    font-size: 16px;
}
.servie-main .main-serive-page .service-content h2 {
    font-size: 25px;
}
.left-mission:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
     border-bottom: 0px solid transparent; 
     border-left: 0px solid white; 
    position: absolute;
    top: 44%;
    right: -50px;
    z-index: 9999;
}
.inner-team h3.vc_custom_heading {
   font-size: 22px;
    line-height: 25px;
	padding: 20px;
}
.inner-team-blue h3.vc_custom_heading {
    font-size: 22px;
    line-height: 25px;
	padding: 20px;
}
.propos-down-arrow:before, .propos-down-arrow:after {
    padding-bottom: 7.7%;
}
.left-mission p {
    font-size: 16px;
}
.propos p {
    font-size: 16px;
}
.propos strong {
    font-size: 40px;
}
.propos h1 {
    line-height: 40px;
	font-size: 40px;
	
}

.equip h2 {
    line-height: 40px;
	font-size: 40px;
}
.equip p {
    font-size: 16px;
}
.propos a {
    font-size: 18px;
}
.equip a {
    font-size: 18px;
}
header .bottom-header img {
    max-width: 230px;
}
.top-number {
    top: 0;
    width: 100%;
    text-align: center;
	left: 50px;
}
.top-number p {
    font-size: 20px;
    text-align: center;
}

.banner-equipe .professional.clinique h2 {
    font-size: 49px;
    line-height: 49px;
	margin: 20px;
}
.autres h2 {
    font-size: 50px;
    line-height: 50px;
}
.autres {
    padding: 10px;
}
.inner-team h2.vc_custom_heading {
    font-size: 25px;
}
.inner-team-blue h2.vc_custom_heading {
    font-size: 25px;
}
.medium-5 {
    width: 100%;
}
.medium-7 {
    width: 100%;
}

.single-post-serive {
    padding-left: 50px;
}
.single-ser h1.post-title {
    font-size: 5vw;
    margin: 15px;
    margin-left: 0;
}
.inner-sky-blue {
    padding: 10px;
}
.listing-zone {
    min-height: 225px;
}
.step-icon-zone {
    min-height: 122px;
}
.medium-6 {
    width: 100%;
}
.listing-zone {
    width: 50%;
}
.single-post-zone h1.post-title {
    line-height: 45px;
    font-size: 45px;
	position: relative;
    top: 0px;
	
}
.main-zone-page h1 {
    text-align: center;
    font-size: 45px;
	line-height: 45px;
	
}
.zone-icon-single-page {
    width: auto;
}

.main-zone-page p {
    text-align: center;
}
.zone-enfant .sky-blue p {
    text-align: left;
	font-size: 16px;
	
}
.single-post-zone li {
    font-size: 16px;
    margin: 14px;
}
.zone-background {
    height: 620px;
}
.zone-enfant .sky-blue .svg-img {
    float: none;
}
.zone-enfant .sky-blue .main-zone-page h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
	position: relative;
    top: 5px;
}
.single-post-zone {
    padding: 10px;
}
.contact-info .info-heading {
    margin-top: 30px;
}
.info p {
    font-size: 18px;
}
.contact-time li {
    font-size: 16px;
    line-height: 25px;
	margin: 0;
}
.info {
    height: auto;
}
.info .contact-time {
    width: 100%;
    margin-bottom: 0;
}
.contact-info .vc_column-inner.vc_custom_1499429644386 {
    padding: 10px !important;
    padding-bottom: 30px !important;
}
.text-overlay {
    max-width: 450px;
}
.text-overlay p {
    font-size: 20px;
}
.text-overlay h1 {
    font-size: 24px;
}
.blue-heading p {
    font-size: 22px;
}
.dark-section p {
    font-size: 22px;
}
.info-left h1 {
    font-size: 60px;
}
.info-left .inner-left {
    padding: 50px;
}
.single-information .info-patient h1 {
    font-size: 35px;
    line-height: 35px;
}
.info-single-left .inner-single-left {
    padding: 20px;
}
.info-single-left p {
    font-size: 18px;
}
input:not([type="submit"]), input, optgroup, select {
    font-size: 18px;
}
label, input[type="radio"] + span, input[type="radio"] + span::before, label, input[type="checkbox"] + span, input[type="checkbox"] + span::before {
    font-size: 16px;
}
.inner-left .small-6 {
    width: 100%;
}
.info-patient .inner-left li {
    font-size: 16px;
}
ul#menu-information-box1 a {
    font-size: 20px;
}
ul#menu-information-box2 a {
    font-size: 20px;
}
ul#menu-information-box3 a {
    font-size: 20px;
}
.info-patient .inner-left p {
    font-size: 16px;
}
#carousel .item {
    height: 300px;
}
#carousel .owl-dots {
    top: 150px;
}
img.bnnr {
    width: 80px !important;
    position: relative;
    bottom: 10px;
}
#carousel .owl-dot {
    height: 10px;
    width: 10px;
}
.footer-left {
    width: 100%;
    margin-bottom: 0;
	border-bottom: none;
}
.home-transprate {
    height: 100%;
}
.top-number {
    display: none;
}

.clinic .owl-controls {
    top: 45%;
}
.copyright strong {
    font-size: 16px;
}
.copyright a {
    font-size: 16px;
}
.copyright p {
    font-size: 16px;
}
.blue-bck {
    width: 100% !important;
}
.grey-bck-ground {
    width: 100% !important;
}
.team-member .wpb_column.vc_column_container.vc_col-sm-2 {
    width: 100% !important;
}
.main-clinique h1 {
    font-size: 49px;
    line-height: 49px;
}
.servie-rigth {
    max-height: 100%;
}
.servie-left {
    padding: 0 !important;
    max-height: 100% !important;
}
.single-ser {
    height: auto;
}
.info-single-left {
    height: auto;
}
.zone-background {
    height: auto;
}
.sky-blue {
    height: auto;
}
.info-patient .info-right .menu-information-box1-container {
    max-height: 100%;
}
.info-patient .info-right .menu-information-box2-container {
    max-height: 100%;
}
.info-patient .info-right .menu-information-box3-container {
    max-height: 100%;
}
.dark-section {
    padding: 40px;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time strong {
    width: 80px;
}
.footer-section-right-one .contact-time {
    text-align: start;
    justify-content: center;
    display: grid;
}
footer .inner-footer .footer-right .footer-section-right-one {
    width: 100%;
    margin-top: 50px;
	text-align: center;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time {
    width: 100%;
    margin-bottom: 0px;
}
footer .inner-footer .footer-right .footer-section-right p {
    font-size: 18px;
    line-height: 25px;
}
footer .inner-footer .footer-right .footer-section-right a {
    font-size: 18px;
}
a.sky-black {
    font-size: 18px;
}
a.ftr-mail {
    font-size: 18px;
}
footer .inner-footer .footer-right .footer-section-right-one .contact-time li {
    font-size: 14px;
    line-height: 24px;
}
footer .inner-footer .footer-right .footer-section-right {
    width: 100%;
    max-width: 100%;
	text-align: center;
}
.footer-section-right .contact-time {
    width: 100%;
    float: left;
    margin-bottom: 0;
}
footer .inner-footer .footer-left .logo-content p {
    font-size: 15px;
    line-height: 24px;
}
.logo-content {
    width: 100%;
    text-align: center;
}
.footer-section-left {
    float: none;
    text-align: center;
}
.footer-left img {
    float: none;
}
.footer-left {
    border-bottom: none;
}
footer .inner-footer .footer-right .footer-heading {
    font-size: 20px;
}
.footer-left img {
    width: 100px;
}
.m-number {
    display: block;
}
header .bottom-header {
    text-align: center;
}
.single-page-service .single_services_video_page {
    padding: 50px;
}
.single-page-service iframe {
    display: inline-block;
    width: 100%;
}
.professional-gray-content {
     min-height: auto;
}
.main-footer {
    padding-bottom: 50px;
    padding-top: 30px;
}
.clinique-trasnprate .main-clinique {
    padding: 0;
}
.banner-equipe .professional.clinique {
    padding: 0;
}
.single-content p {
    font-size: 16px;
}

.left-mission {
    padding-top: 50px;
}
.single-content li {
    font-size: 16px;
}
.svg-img img {
    width: 100px !important;
}
.zone-icon-single-page img {
    width: 100px !important;
}
.propos-down-arrow h2 {
    font-size: 45px;
    line-height: 45px;
}
.main-overlay {
    height: 65vw;
}
.team-member .inner-team .wpb_single_image.wpb_content_element.vc_align_center {
    height: auto;
}
.team-member .vc_col-sm-2 {
    height: auto;
}
.team-member .inner-team-blue .wpb_single_image.wpb_content_element.vc_align_center {
    height: auto;
}
}





@media screen and (max-width: 639px){
#carousel .item .centered img {
    width: 50px !important;
}
#carousel .item .centered img.bnnr {
    width: 50px !important;
}
.single-ser h1.post-title {
    font-size: 40px;
    line-height: 40px;
}
.zone-enfant .listing-zone {
    width: 100%;
}
.single-page-service .single_services_video_page {
    padding: 20px;
}

.step-icon-zone {
    min-height: 100px;
}
.listing-zone {
    min-height: 180px;
}
.servie-main .main-serive-page h1 {
    font-size: 30px;
    line-height: 30px;
    padding-top: 0px;
}
.services h2.category {
    font-size: 14px !important;
}
.servie-main .servie-rigth .listing-service {
    width: 50%;
}
.service-icon-single-page {
    float: none;
    text-align: center;
    display: inline-block;
}
.single-ser .single-post-serive {
    padding: 20px;
}
.single-ser .single-content {
    padding: 20px;
}
.listing-zone {
    width: 100%;
}
.text-overlay p {
    font-size: 11px;
}
.text-overlay h1 {
    font-size: 20px;
}
.text-overlay {
    max-width: 300px;
}
[class^="ti-"], [class*=" ti-"] {
    padding: 5px;
}
.sky-blue {
    padding: 25px;
}
.propos {
    padding: 20px;
	height: auto;
}
.servie-main .servie-rigth .listing-page {
    padding: 10px;
}
ul#menu-information-box1 a {
    font-size: 16px;
}
ul#menu-information-box2 a {
    font-size: 16px;
}
ul#menu-information-box3 a {
    font-size: 16px;
}
.blue-heading p {
    font-size: 18px;
    padding: 14px;
}
.dark-section p {
    font-size: 18px;
}
.servie-main .main-serive-page .service-content {
    padding: 10px;
}
}



@media screen and (max-width: 450px){
.contact-info #map {
    height: 450px !important;
}
#map #content-map {
    min-width: 240px;
}
#content-map h3 {
    margin-left: 55px;
}


.home-spacing .home-propos {
    font-size: 30px !important;
    line-height: 30px !important;
}
.propos-down-arrow h2 {
    font-size: 30px;
    line-height: 30px;
}
.info-patient .info-right ul#menu-information-box1 {
    padding-left: 10%;
}
.info-patient .info-right ul#menu-information-box2 {
    padding-left: 10%;
}
.info-patient .info-right ul#menu-information-box3 {
    padding-left: 10%;
}
.main-overlay .text-overlay {
    top: 50%;
}
.text-overlay p {
    font-size: 12px !important;
}


.main-overlay .text-overlay {
    max-width: 300px;
}
.autres h2 {
    font-size: 30px;
    line-height: 35px;
}
p.member-content {
    margin: 0;
}
.propos {
    padding: 20px;
}
.equip {
    padding-top: 0px;
    padding-bottom: 0px;
}
.equip a {
    padding: 15px 20px 20px 20px;
}
.service-content {
    padding: 10px;
}

h2.info-heading {
    font-size: 22px;
}
.info-left h1 {
    font-size: 35px;
	line-height: 35px;
}
.info-left .inner-left {
    padding: 30px;
}
#carousel .item {
    height: 200px;
}
#carousel .item .centered {
    width: 50%;
}
img.bnnr {
    margin-left: 0;
	position: relative;
	bottom: 5px;

}
#carousel .owl-dots {
    top: 90px;
}
img.bnnr {
    width: 50px !important;
}
.owl-controls .owl-nav {
    top: -30px;
}
footer .main-footer {
    padding: 20px;
}
.single-post-zone h1.post-title {
    line-height: 35px;
    font-size: 35px;
}
.main-zone-page h1 {
    font-size: 35px;
    line-height: 35px;
}
.contact-time strong {
    width: 100px;
}

.copyright {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
header .bottom-header {
    text-align: left;
}
.propos-down-arrow {
    padding-top: 0;
}

}
@media screen and (max-width: 360px){
.text-overlay p {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.banner-equipe .professional.clinique h2 {
    font-size: 30px;
    line-height: 30px;
}
.main-clinique h1 {
    font-size: 30px;
    line-height: 30px;
}

}