.search_result {
  h1 {
    margin-bottom: 20px;
  }
}

.search_icon {
  cursor: pointer;
  float: right;
  display: block;
  position: relative;
  bottom: 6px;
  right: 2%;
  font-size: 30px;
  color: #fff;
}

.wrapper_search {
  display: none;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color1, 1);
  }

  h3 {
    color: darken($color1, 20);
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    font-family: $font1;
  }

  div.close_search {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 43px;
    background: $color1;
    width: 80px;
    height: 80px;

    span {
      display: block;
      position: relative;
      top: 50%;
      margin: 0 auto;
      width: $hamburger_width;
      height: $hamburguer_height;

      &:before,
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: $hamburguer_height;
        left: 0;
        background: $color2;
        position: absolute;
      }

      @include transform(rotate(180deg));
      background: transparent;
      &:before {
        top: 0;
        @include transform(rotate(45deg));
        background: $color2;
      }
      &:after {
        bottom: 0;
        @include transform(rotate(-45deg));
        background: $color2;
      }
    }
  }

  .searchform {
    padding: 0;
    display: block;
    position : absolute;
    top: 40%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    opacity: 0;

    input[type=text] {

      position: relative;
      display: block;
      margin: 0 auto;
      background: $color1;
      color: #fff;
      height: 100%;
      padding: 25px 0px;
      border: none;
      font-size: 33px;
      border-bottom: 1px solid #fff;
      width: 90%;
      max-width: 800px;
      box-shadow: none;

      @include responsive(small){
        font-size: 18px;
        padding-left: 50px; 
        padding-right: 50px; 
      }

      @include responsive(xsmall){
        font-size: 18px;
        padding-left: 10px; 
        padding-right: 50px; 
      }
    }

    ::-webkit-input-placeholder { 
      color:    rgba(255,255,255,0.6);
    }
    :-moz-placeholder { 
      color:    rgba(255,255,255,0.6);
    }
    ::-moz-placeholder { 
      color:    rgba(255,255,255,0.6);
    }
    :-ms-input-placeholder { 
      color:    rgba(255,255,255,0.6);
    }
  }
  input[type=text]:focus {
    width: 100%;
    padding: 15px 20px;
    margin-top: 20px;

    @include responsive(xsmall){
      width: 90%;
    }
  }

  input[type=submit] {
    display: none;
  }
}

//for page 404 and search page
form[role=search]{
  input[type=text] {
    width: 50%;
    min-width: 320px;
    background: $white;
    border: 1px solid $color1;
  }

  input[type=submit] {
    padding: 18px 45px;
    margin: 0;
  }
}