.services {

  li a {
    color: $white;
  } 

  h2 {
    &.category {
     text-transform: uppercase;
	color: $color5;
	font-weight: 100;
    padding: 0px 0px;
	font-size: 0.8vw !important;
	position: relative;
	bottom: 5px;
      a {
        color: $white;
      }
    }
  }
}



.servie-main{
		padding: 0 !important;
		
	.servie-left {
		padding: 0 !important;
		height: 950px !important;
	}
	.main-serive-page {
		position: relative;
	
	h1 {
		font-size: 4vw;
		line-height: 4.2vw;
		font-weight: 100;
		color: $white;
		padding-top: 100px;
	}
	p {
		color: $white;
		font-size: 20px;
		font-weight: 100;
	}
	.service-content {
		margin: 0 auto;
		padding: 98px;
		width: 100%;
		text-align: center;
		background-color: rgba(0, 75, 132, 0.8);
		float: left;
		min-height: 950px;

		h2 {
		font-size: 30px;
		color: $white;
		text-align: center;
		text-transform: uppercase;
	}
	}
		a {
			color: $white;
			&:hover {
				font-weight: 500;
			}
		}
	}
	
	.servie-rigth{
		background-color: $grey_color;
		padding-left: 0 !important;
		float: left;
		height: 950px;
		padding: 0 !important;
		
		.listing-page {
			padding: 120px;
		}
		.listing-service {
			width: 33.33%;
			float: left;
			text-align: center;
			height: 160px;
		
		strong {
			font-weight: 700 !important;
		}
		&:hover {
			svg{
				path{
					fill: $color7 !important;
				}
				rect {
					fill: $color7 !important;
				}
				polygon {
					fill: $color7 !important;
				}
			}	 
		}
	
		&:hover{
			h2{
				color: $color7 !important;
			}
		}
	}
	.step-icon {
		width: 100px;
		text-align: center;
		display: inline-block;
	    height: 107px;
		path {
		fill: $service_icon !important;
		}
		rect {
			fill: $service_icon !important;
		}
		polygon {
			fill: $service_icon !important;
		}
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 16px;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		width: 16px;
		background-color: $footer_background !important;
	}
	}

}

	
	
	
.single-ser {
		padding: 0 !important;
		height: 875px;
		float: right;
	
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 16px !important;
	}
	.mCSB_scrollTools {
		left: 0;
	}	
	.mCSB_scrollTools .mCSB_draggerRail {
		width: 16px !important;
		background-color: $footer_background !important;
	}
	.single-post-serive {
		padding: 100px;
		padding-bottom: 20px;
	}
	.service-icon-single-page {
		width: 90px;
		float: left;
		margin-right: 50px;
		background-color: $color7;
		border-radius: 100px;
		line-height: 0;
		padding: 15px;
		height: 90px; 

		path {
		fill: $white !important;
		}
		polygon {
			fill: $white !important;
		}
		rect {
			fill: $white !important;
		}
	}
	h1.post-title {
		color: $color5;
		font-weight: 100;
		font-size: 3vw;
		line-height: 3vw;
		text-transform: uppercase;
	}
	.single-content {
		padding: 240px;
		padding-top: 0;
	
	 h2 {
		text-transform: uppercase;
		color: $color5;
		font-weight: 100;
	}
	strong {
		font-weight: 700 !important;
	}
	 h3 {
		text-transform: uppercase;
		color: $color5;
		font-weight: 100;
	}
	strong {
		font-weight: 700 !important;
	}
	li {
		color: $color6;
		font-size: 20px;
		font-weight: 400;
		margin: 10px;
		list-style-type: disc;
		margin-left: 30px;
	}
}
	.single-line {

	img {
		position: relative;
		bottom: 15px;
		margin: 15px;
		margin-left: 0;
	}
}
}
	
	
.single-page-service{

	    padding-left: 0 !important;
		padding-right: 0 !important;
	
	.single_services_video_page {
		margin: 0 auto;
		padding: 100px;
		width: 100%;
		text-align: center;
		background-color: rgba(0, 75, 132, 0.8);
		float: left;
		height: 875px;

		.inner_services_video_page {
				height: 305px;
				overflow: hidden;

				iframe {
					height: 305px;
				}
			}
	}
	.single-page-service iframe {
		position: relative;
		top: 0px;
		left: 0;
		margin: 0 auto;
		text-align: center;
	}

}
	
	


	




	
	
	










