.sidebar [class^="menu-"], 
.sidebar [class*=" menu-"], 
.main-navigation[class*=" menu-"], 
.main-navigation [class^="menu-"] {

	a {
		display: block;
		background: $color1;
		padding: 13px 20px;
		margin: 1px 0;
		color: $white;
		text-align: center;
	}

	a strong {
		background: $color1;
	}

	h2 a, a h2, a h3 {
		color : $white;
	}
}