
/* COLOR */
$color1								: #6CC04E; /*primary color*/
$color2								: #333333;
$color3								: #999;
$color4                            	: #36719F;
$color5                             :#004B84;
$color6                             :#545454;
$color7                             :#2AC5F4; 
$red                                :#f00;
$grey_color                         :#F3F6F7; 
$footer_background                  :#E7EEF1;
$service_icon                       :#0097D7; 
$scroll                             :#F5F5F5; 
$hover                              :#0F5982;
                           
	
$grey								: #e4e4e4;
$white          					: #ffffff;
$black								: #000000;

$success							: #0cd678;
$warning							: #f79d20;
$danger								: #ef3621;
$info								: #4CB1CF;

/* FONT */
//google font import
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font1 							: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font2							: 'Roboto', sans-serif;

/* HEADING */
$h1									: 30px;
$h2									: 24px;
$h3									: 22px;
$h4									: 20px;
$h5									: 18px;
$h6									: 16px;

//login
$login_background_color				: #333;
$login_form_background_color		: #fff;
$login_form_padding					: 60px 60px;
$login_form_top						: 11%;
$login_form_radius					: 10px;
$login_message_background_color		: #fff;
$login_message_text_color			: #333;
$login_message_text_color_out_form	: #fff;


//container
$container_width					: 'medium-10';

/*preloader*/
$overlay_color 						: $color1; 
$preloader_color					: #fff;

/*hamburger*/
$hamburguer_height					: 5px;
$hamburguer_color					: $color1;
$hamburger_margin					: 10px;
$hamburger_width					: 40px;
$hamburger_transition				: 0.2s;

/*header*/
$sticky_header						: true;

$top_header_activate				: true;
$top_header_color					: #333;
$top_header_hight					: 40px;

$header_bottom_color				: #fff;
$header_bottom_opacity				: 1;
$logo_max_width						: 120px;

//menu desktop
$margin_menu_item_desktop   		: 30px;
$menu_item_dektop_color				: $color1;

/*Menu desktop*/
$menu_desktop_color					: #000;
$menu_desktop_color_active			: #2AC5F4;

/*Menu responsive*/
$menu_reponsive_width				: 85%;
$menu_reponsive_max_width			: 500px;
$menu_reponsive_margin				: 10px 0;
$menu_reponsive_padding				: 15px;
$menu_reponsive_align				: center;
$menu_reponsive_color				: #fff;

/*Carousel*/
$carousel_height					: 880px;
$carousel_background				: rgba(0,0,0,0);

$carousel_control_btn_top			: 37%;
$carousel_control_btn_color			: #fff;
$carousel_control_btn_size			: 40px;
$carousel_control_btn_padding		: 60px;
$carousel_control_btn_background	: rgba(0,0,0,0);
$carousel_control_btn_radius		: 0;

$carousel_content_top				: 45%;
$carousel_content_width				: 55%;
$carousel_text_align 				: center;

$carousel_h1_color 					: #fff;
$carousel_h1_size					: 90px;

$carousel_h2_color 					: #000;
$carousel_h2_size					: 90px;

$carousel_p_color					: #fff;
$carousel_p_size					: 90px;

$carousel_button_color				: $color1;
$carousel_button_text_color			: #fff;
$carousel_button_padding			: 60px;
$carousel_button_radius				: 10px;
$carousel_button_font_size			: 18px;

/*footer*/
$footer_color						: #222;


