.zone-enfant{
			padding-left: 0 !important;
			padding-right: 0 !important;
	.sky-blue {
		background-color: $color7;
		color: $white;
		height: 800px;
		padding: 100px;
		float: right;
		
		.inner-sky-blue {
			max-width: 700px;
		}
		.svg-img {
			width: auto;
			float: left;
				.cls-1 {
				fill: $white !important;
			}
		}
		 p {
			color: $white;
			font-weight: 100;
			display: inline-block;
			width: 100%;
			max-height: 784px;
		}
		.main-zone-page{
		
		h1{
			font-size: 4vw;
			text-transform: uppercase;
			line-height: 4vw;
			font-weight: 100;
			position: relative;
			top: 40px;
		}
		
		}
		
	}

	.zone-background {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		float: left;
		height: 800px;
		
		
		&::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			border-radius: 10px;
			background-color: $scroll;
		}
		&::-webkit-scrollbar{
			background-color: $scroll;
		}
		&::-webkit-scrollbar-thumb{
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			background-color: $color5;
		}
	}
	img {
		width: 9.2vw !important;
	}
	.listing-zone{
			width: 50%;
			float: left;
			margin-bottom: 48px;
			
			h2 {
				color: $white;
				text-transform: uppercase;
				font-size: 25px;
				width: 100%;
				margin: 0 auto;
				font-weight: 100;
				max-width: 300px;
				line-height: 35px;
				&:hover {
				font-weight: 900;
			}
			}
			
			
		
		.cls-1{
			fill: $white !important;
		}
		
	}
	.zone-listing-page {
		margin: 0 auto;
		padding: 100px;
		padding-top: 156px;
		width: 100%;
		text-align: center;
		background-color: rgba(0, 75, 132, 0.8);
		float: left;
		
		
		.step-icon-zone {
			width: 100px;
			text-align: center;
			display: inline-block;
			min-height: 122px;
		}
	}
}


	.single-zone-content{
		ul {
			padding-left: 10px;
		}
	}



	
	
.single-post-zone{

	h1{
		text-transform: uppercase;
		font-weight: 100;
		line-height: 3vw;
		font-size: 3vw;
		position: relative;
		top: 50px;
	}
	.zone-icon-single-page {
		float: left;
	}
	li {
		font-size: 20px;
		font-weight: 100;
		list-style-type: disc;
		margin: 19px;
	}
	h2 {
		font-weight: 500;
		text-transform: uppercase;
	}	
}	
	
.main-zone {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}


