@import 'partials/variable';
@import 'partials/function';
@import 'partials/mixin';
@import 'partials/fonts';

body.login {
  // background: url(../../images/home.jpeg) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($login_background_color, 1);
    z-index: -1;
  }
}

#login {
  padding: $login_form_top 0 0;
}

form#loginform {
  background: $login_form_background_color;
  border-radius: $login_form_radius;
  padding: $login_form_padding;
  min-width: 400px;

  label {
    color: $login_message_text_color;
    font-weight: 100;
    letter-spacing: 1.5px;
  }

  input {
    font-weight: 300;
  }
}

.login #login_error, .login .message {
  background: $login_form_background_color;
  color: $login_message_text_color;
  font-weight: 100;
  letter-spacing: 1.5px;
}

.login div#login,
#login h1, 
.login h1 {
  width: 450px;
}
#login h1 a, .login h1 a {
  background-image: url(../../images/logo-login.png);
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
}

.login #login #backtoblog a, .login #login #nav a {
  color: $login_message_text_color_out_form;
}
.login .submit .button-primary {
  background: $color1;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border-color: $color1;
}